<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>I'll Never Stop</title>
		<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="container">
			<h1>Hey y'all</h1>
			<p class="lead text-center">
				Start me up, I'll never stop
			</p>
		</div>
		<script src="/js/jquery-2.0.2.js"></script>
		<script src="/js/bootstrap.js"></script>
	</body>
</html>
